*.DS_Store
*.log
*.out
*.swp
.dcignore
.vscode
.idea
node_modules
mono_crash*
*.DotSettings
**/.settings
**/.toolstarget
**/.vs
**/bin
**/obj
**/build
**/dist
src/Socotra.Store.sln.DotSettings.user

*.tfvars
./data/
/.versio-paused
/.versio